version: '3.9'

services:
  postgres:
    image: postgres
    container_name: pg-manimai
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    env_file: .env
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    # volumes:
    #   - minio_data:/data

  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   container_name: backend
  #   env_file: .env.docker
  #   depends_on:
  #     - postgres
  #     - redis
  #     - minio
  #   ports:
  #     - "8000:8000"
  #   command: >
  #     uvicorn app.main:app --reload --reload-exclude "renders/*"
  #   volumes:
  #     - ./backend:/app

  # worker:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   container_name: worker
  #   env_file: .env.docker
  #   depends_on:
  #     - redis
  #     - backend
  #     - postgres
  #     - minio
  #   command: celery -A app.tasks.celery worker --concurrency=1 --prefetch-multiplier=1 --loglevel=INFO 
  #   volumes:
  #     - ./backend:/app

# volumes:
#   postgres_data:
#   minio_data:
