# Ignore virtual environments
venv/
.env

# Bytecode files
__pycache__/
*.pyc
*.pyo

# Build and cache
*.log
*.sqlite3

# Editor and system files
.vscode/
.idea/
.DS_Store

# Local data or test folders
tests/
# renders/
uploads/
